html {
  height: 100%;
}
body {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  height: 100%;
}

#homepage {
  position: absolute;
  top: 2.5%;
  right: 3%;
  background: black;
  color: white;
  padding: 0.8rem;
  border-radius: 10%;
  font-size: 1.3rem;
  z-index: 1;
}

#homepage:hover{
  background: rgba(0,0,0,0.7);
}

#content {
  font-size: 0;
}
header {
  position: absolute;
  height: 45%;
  width: 100%;
}

header h1 {
  position: relative;
  top: 17%;
  text-align: center;
  margin: 0;
  font-size: 3rem;
  letter-spacing: 0.3em;
  color: white;
 }

#background_img {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

hr {
  position: relative;
  width: 340px;
  border-top: 1px solid white;
  top: 17%;
}

.content-separator {
  width: 70%;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 50%;
  margin-top: 3.5%;
  margin-bottom: 3.5%;
}

nav {
  position: relative;
  top: 16.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 425px;
}

nav ul {
  padding: 0;
  margin: 0;
  position: relative;
  text-align: center;
}

nav li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  font-size: 1.5rem;
}

nav li:hover {
  font-weight: bold;
}

nav li + li {
  margin-left: 6%;
}

#findings {
  position: relative;
  top: 30%;
  background: rgba(255,255,255,0.65);
  text-align: center;
  padding: 3% 0;
}

#findings h1{
  margin: 0 0 15px 0;
}

.learn {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 2%;
  float: right;
}

.learn:hover{
  border-color: rgba(0,0,0,0.5);
  background: rgba(0,0,0,0.5);
  color: white;
}

#discover_test{
  margin-left: 2%;
}

#research div{
  display: inline-block;
  margin: 0 2%;
  vertical-align: top;
}

#testing div{
  display: inline-block;
  margin: 0 2%;
  vertical-align: top;
}

#findings p{
  text-align: left;
}

#summary p{
  text-align: left;
  padding: 0 12%;
}
