body {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
}

header {
  display: inline-block;
  height: 668px;
}

#img {
  position: absolute;
}

header h1 {
  position: relative;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 430px;
  margin: 0;
  font-size: 2.5em;
  letter-spacing: 0.3em;
  color: white;
}

nav {
  position: relative;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

nav li {
  display: inline;
  list-style-type: none;
}
