html {
  height: 100%;
}
body {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  height: 100%;
}

#content {
  font-size: 0;
}
header {
  height: 100%;
  width: 100%;
}

header h1 {
  position: relative;
  top: 8%;
  text-align: center;
  margin: 0;
  font-size: 3rem;
  letter-spacing: 0.3em;
  color: white;
 }

#background_img {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

hr {
  position: relative;
  width: 340px;
  border-top: 1px solid white;
  top: 8%;
}

nav {
  position: relative;
  top: -82.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 260px;
}

nav ul {
  padding: 0;
  margin: 0;
  position: relative;
  text-align: center;
}

nav li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  font-size: 20px;
}

nav li:hover {
  font-weight: bold;
}

nav li + li {
  margin-left: 6%;
}

#content {
  background: white;
}

section h1{
  padding-top: 4%;
  color: #777;
  text-align: center;
  margin-top: 0;
  font-size: 3rem;
}

.content-separator {
  width: 70%;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 50%;
  margin: 0 auto 0 auto;
}

.content-about {
  position: relative;
  margin-bottom: 12%;
}

.content-about p {
  position: absolute;
  top: 36%;
  display: inline-block;
  font-size: 1.7rem;
  line-height: 180%;
  max-width: 600px;
  margin-left: 5%;
}

#profile_img {
  position: relative;
  display: inline-block;
  width: 29%;
  margin: 0 6% 0 12%;
  border-radius: 50%;
}

.content-projects h1, .content-discover h1 {
  padding-top: 3%;
  color: #777;
  text-align: center;
  margin-top: 0;
  font-size: 3rem;
}

.content-projects {
  margin-bottom: 8%;
}

.content-discover{
  position: relative;
  padding-bottom: 5%;
}

.photo-container{
  position: relative;
  max-width: 50vh;
  max-height: 50vw;
  left: 50%;
  transform: translateX(-50%);
}

#prev-pic {
  display: inline-block;
  height: 100%;
  min-width: 25%;
  float: left;
  position: absolute;
  z-index: 1;
  visibility: hidden;
}

/*#prev-pic:hover {
  visibility: visible;
}*/

#prev-container, #next-container{
  position: absolute;
  top: 50%;
  left: 50%;
  radius: 50%;
  max-width: 75px;
  max-height: 75px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  transform: translate(-50%,-50%);
}

#prev-icon, #next-icon{
  max-width: 75px;
  max-height: 75px;
}

#next-pic {
  display: inline-block;
  height: 100%;
  min-width: 25%;
  left: 75%;
  position: absolute;
  z-index: 1;
  visibility: hidden;
}

.pics {
  position: relative;
  display: inline-block;
  border-radius: 3%;
  width: 100%;
  height: 100%;
}

.slider{
    font-size: 1rem;
    text-align: center;
    margin-top: 3%;
}

.slider-dots {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.slider-dots li {
  color: #bbbcbc;
  display: inline-block;
  font-size: 30px;
  margin-right: 5px;
}

.slider-dots li.active-dot {
  color: #363636;
}

footer {
  position: relative;
  font-size: 0;
  background: rgba(12, 12, 12, 0.75);
  color: white;
  min-height: 275px;
}

#footer_name {
  position: absolute;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 300;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

#footer_links {
  position: absolute;
  text-align: center;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  top: 42%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

#footer_links li {
  display: inline-block;
}

#footer_links li:hover {
  filter: brightness(36%);
}

#footer_links li + li {
  margin-left: 3%;
}

#contact-icons {
  fill: white;
}

#contact-info {
  position: absolute;
  font-size: 0.8rem;
  font-weight: 300;
  top: 53%;
  width: 100%;
  text-align: center;
}

#contact-info p {
  display: inline-block;
}

#footer_social {
  position: absolute;
  top: 73%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
}

footer a{
  fill: white;
}

footer a:hover {
  filter: brightness(36%);
}

[class*="icon-"] {
  margin: 0 2%;
}

/*browser window*/
@media (max-width:1220px) {
  .content-about {
    margin-bottom: 10%;
  }

  .content-about p {
    font-size: 1.5rem;
  }
}

@media (max-width:1075px) {
  .content-about {
    margin-bottom: 8%;
  }
  .content-about p {
    font-size: 1.4rem;
  }
}

@media (max-width:994px){
  .content-about p {
    font-size: 1.3rem;
  }
}
@media (max-width: 853px){
  .content-about p {
    font-size: 1.2rem;
    top: 34%;
  }
  #profile_img {
    margin-right: 4%;
  }
}

@media (max-width: 770px){
  nav {
    font-size: 1rem;
  }
  hr{
    width: 48%;
  }
  #profile_img {
    width: 44%;
    display: block;
    margin: auto;
    margin-top: 12%;
  }

  .content-about h1{
    font-size: 2rem;
  }

  .content-about p {
    position: relative;
    display: block;
    font-size: 1.2rem;
    margin: 10% 12% 10% 20%;
    min-width: 0;
    margin-top: 12%;
  }
}

@media (max-width:720px){
  .content-about p {
    top: 38%;
    line-height: 155%;
  }
}
@media (max-width: 444px) {
  nav{
    top: -79%;
    min-width: 208px;
  }
  nav li {
    font-size: 0.85rem;
  }
}

/*tablet*/
@media (max-device-width: 1024px) and (min-device-width: 525px){
  nav{
    top: -81.5%;
  }

  #profile_img {
    margin: 8%;
  }

  .content-about {
    margin-bottom: 5%;
  }

  .content-about p {
    font-size: 1.3rem;
    min-width: 450px;
    top: 40%;
    margin-left: 0;
    right: 5%;
  }

}

/*mobile*/
@media (max-device-width: 525px) and (min-device-width: 300px){
  nav{
    top: -84.5%;
  }

  #profile_img {
    width: 44%;
    display: block;
    margin: auto;
    margin-top: 12%;
  }

  .content-about p {
    position: relative;
    display: block;
    font-size: 1.2rem;
    margin: auto;
    max-width: 75%;
    margin-top: 12%;
    line-height: 185%;
  }

  .pics {
    max-width: 60vw;
    max-height: 60vh;
  }
}

/*both mobile and tablet*/
@media (min-device-width: 300px) and (max-device-width: 1024px) {
  hr{
    top: 10%;
  }
}
